################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VeterinaryClinicManagementSystem/.vs/VeterinaryClinicManagementSystem/FileContentIndex
